<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="abstractFileHandler" abstract="true" class="org.room13.mallcore.spring.service.impl.AbstractFileHandler">
        <property name="serviceManager" ref="serviceManager"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="imageUtilLayer" ref="${jms.layer}"/>
    </bean>

    <bean id="avatarHandler" class="org.room13.mallcore.spring.service.impl.AvatarHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="maxFileSize" value="1048576"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="avatarResizeData"/>
        <property name="jpegQuality" value="1.0"/>
    </bean>

    <bean id="avatarResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="storeOriginal" value="true"/>
        <property name="imageResizeData">
            <list>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="BIG_AVATAR_FILE;150x150;true;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"
          destroy-method="shutdown">
        <property name="corePoolSize" value="${fileupload.corePoolSize}"/>
        <property name="maxPoolSize" value="${fileupload.maxPoolSize}"/>
        <property name="queueCapacity" value="${fileupload.queueCapacity}"/>
    </bean>

    <bean id="localImageUtilLayer" class="org.room13.mallcore.spring.service.impl.LocalImageMagickProcessingLayer">
        <property name="dataManager" ref="dataManager"/>
        <property name="colorProfile" value="classpath:/sRGB.icm"/>
        <property name="colorspace">
            <util:constant static-field="magick.ColorspaceType.sRGBColorspace"/>
        </property>
        <property name="i18nBean">
            <bean class="org.room13.mallcore.spring.service.I18nBeanImpl">
                <property name="localizationResourcePath" value="config/dictionaries/lang"/>
                <property name="serviceManager" ref="serviceManager"/>
            </bean>
        </property>
    </bean>

</beans>