<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="abstractFileHandler" abstract="true" class="org.room13.mallcore.spring.service.impl.AbstractFileHandler">
        <property name="serviceManager" ref="serviceManager"/>
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="imageUtilLayer" ref="${jms.layer}"/>
    </bean>

    <bean id="productHandler" class="org.ohm.lebetter.spring.service.impl.imaging.ProductPhotoHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="stretchSmallImages" value="false"/>
        <property name="maxFileSize" value="20971520"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="productPhotoResizeData"/>
        <property name="jpegQuality" value="1.0"/>
        <property name="largeImageProcessing" value="false"/>
    </bean>

    <bean id="avatarHandler" class="org.room13.mallcore.spring.service.impl.AvatarHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="maxFileSize" value="1048576"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="avatarResizeData"/>
        <property name="jpegQuality" value="1.0"/>
    </bean>

    <bean id="valavatarHandler" class="org.room13.mallcore.spring.service.impl.AvatarHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="maxFileSize" value="1048576"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="valAvatarResizeData"/>
        <property name="jpegQuality" value="1.0"/>
    </bean>

    <bean id="catbigavatarHandler" class="org.room13.mallcore.spring.service.impl.AvatarHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="maxFileSize" value="1048576"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="catBigAvatarResizeData"/>
        <property name="jpegQuality" value="1.0"/>
    </bean>

    <bean id="catalogavatarHandler" class="org.room13.mallcore.spring.service.impl.AvatarHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="maxFileSize" value="1048576"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="catalogAvatarResizeData"/>
        <property name="jpegQuality" value="1.0"/>
    </bean>

    <bean id="catavatarHandler" class="org.room13.mallcore.spring.service.impl.AvatarHandler"
          parent="abstractFileHandler"
          init-method="init">
        <property name="maxFileSize" value="1048576"/>
        <property name="fileExt" value="jpeg,jpg,png"/>
        <property name="imageResizeData" ref="catAvatarResizeData"/>
        <property name="jpegQuality" value="1.0"/>
    </bean>

    <bean id="avatarResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="storeOriginal" value="true"/>
        <property name="imageResizeData">
            <list>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="BIG_AVATAR_FILE;150x150;true;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="valAvatarResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="storeOriginal" value="true"/>
        <property name="imageResizeData">
            <list>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="SMALL_AVATAR_FILE;130x40;true;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="productPhotoResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="imageResizeData">
            <list>
                <!--<bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">-->
                    <!--<constructor-arg index="0" value="BIG_PHOTO2;3600x2400;false;INSCRIBED"/>-->
                <!--</bean>-->
                <!--<bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">-->
                    <!--<constructor-arg index="0" value="BIG_PHOTO1;1800x1200;false;INSCRIBED"/>-->
                <!--</bean>-->
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="BIG_PHOTO;900x600;false;INSCRIBED"/>
                </bean>
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="MEDIUM_PHOTO;300x300;false;INSCRIBED"/>
                </bean>
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="SMALL_PHOTO;96x96;false;INSCRIBED"/>
                </bean>
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="XSMALL_PHOTO;60x60;false;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="catAvatarResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="storeOriginal" value="true"/>
        <property name="imageResizeData">
            <list>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="MEDIUM_AVATAR_FILE;130x105;true;INSCRIBED"/>
                </bean>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="SMALL_AVATAR_FILE;60x60;true;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="catBigAvatarResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="storeOriginal" value="true"/>
        <property name="imageResizeData">
            <list>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="XBIG_AVATAR_FILE;720x230;true;INSCRIBED"/>
                </bean>
                <bean class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="BIG_AVATAR_FILE;130x105;true;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="catalogAvatarResizeData" class="org.room13.mallcore.spring.service.impl.imaging.ImageResizeDataSet">
        <property name="storeOriginal" value="true"/>
        <property name="imageResizeData">
            <list>
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="BIG_AVATAR_FILE;720x230;false;INSCRIBED"/>
                </bean>
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="MEDIUM_AVATAR_FILE;130x105;false;INSCRIBED"/>
                </bean>
                <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
                    <constructor-arg index="0" value="SMALL_AVATAR_FILE;96x96;false;INSCRIBED"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"
          destroy-method="shutdown">
        <property name="corePoolSize" value="${fileupload.corePoolSize}"/>
        <property name="maxPoolSize" value="${fileupload.maxPoolSize}"/>
        <property name="queueCapacity" value="${fileupload.queueCapacity}"/>
    </bean>

    <bean id="localImageUtilLayer" class="org.room13.mallcore.spring.service.impl.LocalImageMagickProcessingLayer">
        <property name="dataManager" ref="dataManager"/>
        <property name="colorProfile" value="classpath:/sRGB.icm"/>
        <property name="colorspace">
            <util:constant static-field="magick.ColorspaceType.sRGBColorspace"/>
        </property>
        <property name="i18nBean">
            <bean class="org.room13.mallcore.spring.service.I18nBeanImpl">
                <property name="localizationResourcePath" value="config/dictionaries/lang"/>
                <property name="serviceManager" ref="serviceManager"/>
            </bean>
        </property>
    </bean>

</beans>