<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <bean id="jmsImageUtilLayer" destroy-method="destroy"
          class="org.room13.lebetter.spring.service.impl.KinderJMSProcessingLayer">
        <property name="dataProcContextHolder" ref="dataProcContextHolder"/>
        <property name="jmsworker" ref="fhRegservice"/>
        <property name="timeout" value="${fileupload.timeout}"/>
    </bean>

    <bean id="fhRegservice" class="org.room13.mallcore.spring.service.impl.JMSWorker">
        <property name="dataProcContext" ref="dataProcContextHolder"/>
        <property name="fhJmsTemplate" ref="fhJmsTemplate"/>
        <property name="fhToDPQueue" ref="fhToDPQueue"/>
    </bean>

    <bean id="fhJmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${message.broker.url}"/>
        <property name="userName" value="${message.broker.username}"/>
        <property name="password" value="${message.broker.password}"/>
    </bean>

    <bean id="fhListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <property name="delegate" ref="fhRegservice"/>
        <property name="defaultListenerMethod" value="onMessage"/>
    </bean>

    <bean id="fhContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="fhJmsConnectionFactory"/>
        <property name="messageListener" ref="fhListener"/>
        <property name="destination" ref="fhFromDPQueue"/>
        <property name="maxConcurrentConsumers" value="${message.max.consumers.num}"/>
        <property name="concurrentConsumers" value="${message.consumers.num}"/>
        <property name="sessionTransacted" value="true"/>
        <property name="recoveryInterval" value="${message.recovery.time}"/>
    </bean>

    <bean id="fhJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.pool.PooledConnectionFactory">
                <property name="connectionFactory">
                    <ref local="fhJmsConnectionFactory"/>
                </property>
                <property name="maxConnections" value="${message.max.consumers.num}"/>
                <property name="maximumActive" value="${message.max.active}"/>
            </bean>
        </property>
    </bean>

    <bean id="dataProcContextHolder" class="org.room13.mallcore.spring.service.impl.DataProcContextHolder"/>

    <bean id="fhToDPQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${message.todp.queue.name}"/>
    </bean>

    <bean id="fhFromDPQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${message.fromdp.queue.name}"/>
    </bean>

</beans>
