<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="dataManager" class="org.room13.mallcore.spring.service.impl.FileDataManager">
        <property name="imageStaticUrl" value="${img.static.addresses}"/>
        <property name="downlodPrefix" value=""/>
        <property name="repBasePath" value="${ftp.dir}"/>
        <property name="cdnEnabled" value="false"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="esls">
            <bean class="org.room13.mallcore.spring.service.impl.DBExclusiveAndSharedLockSupportImpl">
                <property name="dataSource" ref="dataSource"/>
            </bean>
        </property>
    </bean>

    <util:list id="productPhotoResizeData">
        <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
            <constructor-arg index="0"
                             value="BIG_PRODUCT_PHOTO_FILE;575x390;false;INSCRIBED"/>
        </bean>
        <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
            <constructor-arg index="0"
                             value="MEDIUM_PRODUCT_PHOTO_FILE;400x275;false;INSCRIBED"/>
        </bean>
        <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
            <constructor-arg index="0"
                             value="SMALL_PRODUCT_PHOTO_FILE;190x130;false;INSCRIBED"/>
        </bean>
        <bean class="org.ohm.lebetter.spring.service.impl.imaging.ImageResizeData">
            <constructor-arg index="0"
                             value="XSMALL_PRODUCT_PHOTO_FILE;125x85;false;INSCRIBED"/>
        </bean>
    </util:list>

</beans>
