.t-zone {
  background-color: transparent !important;
}

#redactor_imp_modal input,
#redactor_imp_modal textarea {
    border: 1px solid #606060;
}
.office_body {
  position: relative;
}
.adm_ul ul {
  list-style: square outside none;
  margin: 0;
  padding: 0 0 8px 14px !important;
}
.adm_add_box {
  position: relative;
}

#datagrid {
    width: 100%;
}

#datagrid th {
    background-color: #505050;
    padding: 10px 0 10px 10px;
    font-size: 11pt;
}

#datagrid th.objectStatus {
    width: 60px;
}

#datagrid td {
    padding: 5px 0 5px 10px;
    font-size: 9pt;
}
#datagrid td.chbox {
    text-align: center;
    width: 31px;
}
a.create_link {
    padding: 8px 0px 10px 0;
    font-size: 11pt;
    position: absolute;
    right: 0;
    top: 0;
}
a.create_link2 {
    padding: 3px 0px 8px 0;
    font-size: 11pt;
    position: absolute;
    right: 0;
    top: 0;
}
/*.form_but adm {
    float: right;
}*/

img.t-error-icon {
    margin: 8px 0 0 10px;
}
/* FormElements */
form {
  position: relative;
}
.form_textarea {
  width: 257px;
  float: left;
}
.form_textarea textarea {
  height: 154px;
  width: 247px;
  resize: none;
}
.form_multiselect {
  width: 257px;
  float: left;
}
.form_multiselect select {
  height: 154px;
  width: 247px;
}
.form_butpos_r {
  top: 0px;
  right: 0px;
  position: absolute;
}
/*Textareas*/
.NFTextarea { color: #535353; background: url(/images/0.gif); font:12px; line-height: 18px; margin:0;}
.NFTextareaTop, form .NFTextareaBottom {height:6px; clear:both; float:none; padding-right:10px;}
.NFTextareaTop {background:url(/images/form/textarea-tr.png) no-repeat 100% 0;}
.NFTextareaBottom {background:url(/images/form/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
.NFTextareaTopLeft, form .NFTextareaBottomLeft {width:11px; height:6px;}
.containerPlus form .NFTextareaTopLeft {background-color: #d2d3d3;}
form .NFTextareaTopLeft {background: url(/images/form/textarea-tl.png) no-repeat 0 0;}
.containerPlus form .NFTextareaBottomLeft {background-color: #d2d3d3;}
form .NFTextareaBottomLeft {background: url(/images/form/textarea-bl.png) no-repeat 0 0;}
form .NFTextareaLeft, form .NFTextareaRight, form .NFTextareaLeftH, form .NFTextareaRightH {float:left; padding-bottom:6px; height:154px;}
form .NFTextareaLeft, form .NFTextareaLeftH {width:5px;}
.containerPlus form .NFTextareaLeft {background-color: #d2d3d3;}
form .NFTextareaLeft {background:url(/images/form/textarea-l-off.png) repeat-y 0 0;}
form .NFTextareaLeftH {background:url(/images/form/textarea-l-over.png) repeat-y 0 0;}
form .NFTextareaRight, form .NFTextareaRightH {padding-right:5px; padding-bottom:0;}
form .NFTextareaRight {background:url(/images/form/textarea-r-off.png) repeat-y 100% 0;}
/* IE7 */ *:first-child+html form .NFTextareaRight { margin-top:-5px;}
form .NFTextareaRightH {background:url(/images/form/textarea-r-over.png) repeat-y 100% 100%;}
/*Multiple Selects*/
form .NFMultiSelect {border:0; background:none; margin:0;}
form .NFMultiSelectTop, form .NFMultiSelectBottom {height:6px; clear:both; float:none; padding-right:10px;}
form .NFMultiSelectTop {background:url(/images/form/textarea-tr.png) no-repeat 100% 0; line-height: 6px; vertical-align: bottom;}
form .NFMultiSelectBottom {background:url(/images/form/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
form .NFMultiSelectTopLeft, form .NFMultiSelectBottomLeft {width:11px; height:6px;}
form .NFMultiSelectTopLeft {background: url(/images/form/textarea-tl.png) no-repeat 0 0;}
form .NFMultiSelectBottomLeft {background: url(/images/form/textarea-bl.png) no-repeat 0 0;}
form .NFMultiSelectLeft, form .NFMultiSelectRight, form .NFMultiSelectLeftH, form .NFMultiSelectRightH {float:left; padding-bottom:6px;}
form .NFMultiSelectLeft, form .NFMultiSelectLeftH {width:5px; height: 148px;}
form .NFMultiSelectLeft {background:url(/images/form/textarea-l-off.png) repeat-y 0 0;}
form .NFMultiSelectLeftH {background:url(/images/form/textarea-l-over.png) repeat-y 0 0;}
form .NFMultiSelectRight, form .NFMultiSelectRightH {padding-right:5px; padding-bottom:0;}
form .NFMultiSelectRight {background:url(/images/form/textarea-r-off.png) repeat-y 100% 0;}
form .NFMultiSelectRightH {background:url(/images/form/textarea-r-over.png) repeat-y 100% 0;}

/* Roles */
.checkbox3 {
    background-image: url('/images/lb-front/form/check.png');
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    cursor: pointer
}
.checkbox3.f0 {
    background-position: 0px 0px;
}
.checkbox3.f1 {
    background-position: -21px 0px;
}
.checkbox3.f2 {
    background-position: -42px 0px;
}

/* Tabs */
.adm_tab {
  background: url(/images/hr7.png) no-repeat 0px 29px;
  height: 54px;
}
.adm_tab ul {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  height: 33px;
  overflow: hidden;
}
.adm_tab ul li {
  list-style: none;
  float: left;
  height: 34px;
  margin: 0 !important;
  padding: 0 !important;
}
.adm_tab ul li a {
  background: #b5b4b5;
  border-top: 1px solid #808181;
  border-right: 1px solid #808181;
  border-bottom: 1px solid #808181;
  border-left: 1px solid #808181;
  color: #303030;
  padding: 5px 16px 5px 16px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  display: block;
}
.adm_tab ul li a:hover,
.adm_tab ul li.sel a {
  /*font-weight: bold;*/
  color: #000000;
  background: #ffffff !important;
  padding: 5px 16px 6px 16px !important;
  border-top: 1px solid #808181;
  border-right: 1px solid #808181;
  border-bottom: 0px solid #808181;
  border-left: 1px solid #808181;
}

/* LayoutsCorrect */
.ObjectOwnerShow_1 {
 top: 32px !important;
 right: 108px !important;
}
.ActionsEdit_1 {
  top: -38px !important;
}

