.office_body {
  position: relative;
}
.office_body h1, .office_body h2 {
    /*float: left;*/
}
.adm_ul ul {
  list-style: square outside none;
  margin: 0;
  padding: 0 0 8px 14px !important;
}
.adm_add_box {
  position: relative;
}

#datagrid {
    width: 100%;
}

#datagrid th {
    background-color: #505050;
    padding: 10px 0 10px 10px;
    font-size: 11pt;
}

#datagrid th.objectStatus {
    width: 60px;
}

#datagrid td {
    padding: 5px 0 5px 10px;
    font-size: 9pt;
}

a.create_link {
    padding: 8px 38px 10px 0;
    font-size: 11pt;
    position: absolute;
    right: 0;
    top: 0;
}

.form_but adm {
    float: right;
}

img.t-error-icon {
    margin: 8px 0 0 10px;
}

/*select.select {
    width: 235px;
}*/

.multiselect select {
    width: 260px;
    /*height: 145px;*/
    border: 1px solid #505050;
}

/* LayoutsCorrect */
.ObjectOwnerShow_1 {
 top: 32px !important;
 right: 108px !important;
}

