#gallery {
}


div.cont {
	/* The display of cont is enabled using jQuery so that the slideshow cont won't display unless javascript is enabled. */
	display: none;
	float: left;
    height: 305px;
	width: 305px;
}
div.cont a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.cont a:focus, div.cont a:hover, div.cont a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
    display: none;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('/images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 300px;
	height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
    border: 1px solid #e3e3e3;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	width: 300px;
	height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 300px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
    vertical-align: middle;
	/*height: 300px;
    width: 300px;*/
}
div.download {
	/*float: right;*/
}
div.caption-container {
	position: relative;
	clear: left;
	/*height: 75px;*/
}
span.image-caption {
	display: block;
	position: absolute;
	width: 300px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 5px 0px 0px 0px;
    position: relative;
}
div.caption a.save {
  position: absolute;
  right: 0px;
}
div.image-title {
    display: none;
	/*font-weight: bold;
	font-size: 1.4em;*/
}
div.image-desc {
    display: none;
	/*line-height: 1.3em;
	padding-top: 12px;*/
}
div.navigation {
   height: 303px;
   width: 98px;
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0px 0px 4px 0;
	list-style: none;

}
a.thumb {
	padding: 0;
	display: block;
	border: 1px solid #e3e3e3;
    line-height: 96px;
    height: 96px;
    width: 96px;
    overflow: hidden;
}
ul.thumbs li.selected a.thumb {
    /*border: 1px solid #333333;*/
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
