html, body {
    height: 100%;
    width: 100%;
}

div.checkbox3 {
    background-image: url('/images/lb-front/form/check.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 21px;
    cursor: pointer
}
