* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    vertical-align: top;
    border: 0px;
    outline: none;
}

html, body, form, table {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
    width: 100%;
}

body {
  font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #686868;
  width: 100%;
  min-width: 1000px;
  height: 100%;
}
input, select, textarea {
  font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 12px;
  line-height: normal;
}
.body {
  width: 100%;
  height: 100%;
}
.display_none{
    display: none;
}
.centered {
  margin: 0px auto;
  width: 980px;
}
.break {
  clear: both;
}
.printable {
  display: none;
}
.top {
  background: #ffffff url(/images/bg2.gif) repeat-x 0px 100%;
}
.bottom {
  /*vertical-align: bottom;*/
}

/* Header */
.header {
  background: #000000;
  height: 97px;
  color: #d1d0d1;
}
.header a {
  color: #d1d0d1;
  text-decoration: none;
}
.logo {
  display: block;
  float: left;
  padding: 13px 0px 16px 30px;
}
.head_lnk {
  display: block;
  float: right;
  margin: 67px 100px 0px 0px;
  padding: 0px 0px 0px 16px;
  height: 16px;
  line-height: 16px;
}
.head_lnk2 {
  margin-right: 10px;
}
.signup {
  display: block;
  float: right;
  background: url(/images/ico/lock.gif) no-repeat 0px 0px;
  margin: 67px 100px 0px 0px;
  padding: 0px 0px 0px 16px;
  height: 16px;
  line-height: 16px;
}
.head_lnk span, .signup span {
  display: block;
  height: 12px;
  line-height: 12px;
  border-bottom: 1px solid #d1d0d1;
}
.head_lnk:hover span, .signup:hover span {
  border-bottom: 0px solid #d1d0d1;
}
*+html .head_lnk span,
*+html .signup span {
  height: 16px;
  line-height: 16px;
  text-decoration: underline;
  border-bottom: 0px solid #d1d0d1;
  cursor: pointer;
/*ie7*/
}
*+html .head_lnk:hover span,
*+html .signup:hover span {
  text-decoration: none;
  border-bottom: 0px solid #d1d0d1;
/*ie7*/
}

/* TopMenu */
.topmenu {
  background: url(/images/bg1.gif) repeat-x 0px 0px;
  height: 47px;
}
/*TopMenu : 1st level */
ul#topnav {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    list-style: none;
    font-size: 16px;
    padding-left: 30px;
}

ul#topnav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative; /*--Important--*/
}

ul#topnav li a {
    float: left;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 31px 13px 31px;
    line-height: 22px; /*-- IE9 fix --*/
    background: url(/images/hr1.gif) no-repeat 0px 0px;
    /*text-indent: -9999px;*/
    /*--Push text off of page--*/
}

ul#topnav li.f a {
    background: none;
}

ul#topnav li.u:hover a,
ul#topnav li.u a:hover {
    background: #eeeeee url(/images/bul1.gif) no-repeat 100% 23px;
}

ul#topnav li a:hover {
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: #171717;
    padding: 11px 30px 12px 30px;
}

ul#topnav li:hover a {
    border: 1px solid #cccccc;
    color: #171717;
    padding: 11px 30px 12px 30px;
}

/*TopMenu : 2st level */
ul#topnav li .sub {
    position: absolute; /*--Important--*/
    top: 42px;
    left: 0;
    background: #eeeeee; /*--Background gradient--*/
    border-top: 0px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 15px 15px 11px 19px;
    float: left;
    z-index: 100;

    display: none; /*--Hidden for those with js turned off--*/
}

ul#topnav li .row {
    /*--If needed to break out into rows--*/

    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

ul#topnav li .sub ul {
    list-style: none;
    margin: 0;
    padding: 0px 4px 0px 0px;
    width: 235px;

    float: left;
}

ul#topnav .sub ul li {
    width: 100%; /*--Override parent list item--*/
    color: #47190a;
    background: none;
    font-size: 14px;

    border-bottom: 1px solid #d2d2d2;
}

ul#topnav .sub ul li.l {
    border-bottom: 0px solid #d2d2d2;
}

ul#topnav li.u .sub ul li a,
ul#topnav .sub ul li a {
    float: none;
    text-indent: 0; /*--Override text-indent from parent list item--*/

    height: auto; /*--Override height from parent list item--*/
    padding: 6px 11px 5px 11px;
    display: block;
    background: none;
    text-decoration: none;
    color: #47190a;
    border: 0px solid;
    font-size: 14px;
    /*white-space: nowrap;*/
}

ul#topnav li.u .sub ul li a:hover,
ul#topnav .sub ul li a:hover {
    color: #c05634;
    background: none; /*--Override background position--*/

}

/* Slider */
.slider_box {
  padding: 12px 30px 9px 30px;
  height: 350px;
  width: 920px;
  position: relative;
}
 .slider_box .prev,
 .slider_box .next {
  position: absolute;
  cursor: pointer;
  height: 350px;
  width: 30px;
  background: transparent;
}
 .slider_box .prev {
  position: absolute;
  left: 0px;
  background: url(/images/but/but1.png) no-repeat 0px 50%;
}
 .slider_box .prev:hover {
  background: url(/images/but/but1.png) no-repeat -60px 50%;
}
 .slider_box .next {
  position: absolute;
  right: 0px;
  background: url(/images/but/but1.png) no-repeat -30px 50%;
}
 .slider_box .next:hover {
  background: url(/images/but/but1.png) no-repeat -90px 50%;
}

/* Pictures */
.pictures {

}
.pictures_box {
  background: url(/images/bg3.png) no-repeat 50% 0px;
  padding: 0px 30px 0px 30px;
  height: 139px;
}
.pictures_box ul {
  list-style: none;

}
.pictures_box ul li {
  background: transparent url(/images/hr2.png) no-repeat 100% 0px;
  height: 105px;
  width: 280px;
  float: left;
  /*font-size: 12px;*/
  color: #686868;
  line-height: 14px;
  padding: 17px 26px 17px 0px;
}
.pictures_box ul li img {
  float: left;
  margin: 0px 15px 0px 0px;
}
.pictures_box a {
  color: #686868;
  text-decoration: none;
}
.pictures_box h3 a,
.pictures_box h3 {
  font-size: 18px;
  line-height: 18px;
  color: #47190a;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Content */
.content {

}

/* Double Colonum */
.dbl_col_left {
  /*float: left;*/
  width: 230px;
  padding: 0px 0px 30px 0px;
}
.dbl_col_right {
  color: #303030;
  /*display: table;*/
  line-height: 16px;
  padding: 0 0 30px 0px;
  width: 720px;
}
.dbl_col_right ul {
  list-style: square;
  padding: 0px 0px 8px 36px;
  margin: 0px 0px 0px 0px;
}
.dbl_col_right ul li {
  padding: 0px 0px 8px 0px;
  margin: 0px 0px 0px 0px;
}
.image {
  float: left;
  margin: 4px 21px 12px 0px;
}
/* left menu */
ul.leftmenu {

}
ul.leftmenu li {
 list-style: none;
}
ul.leftmenu li a {
  display: block;
  width: 169px;
  padding: 8px 0px 7px 30px;
  border-bottom: 3px solid #d2d2d2;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
/* level 2 */
ul.leftmenu ul {
  padding: 6px 0px 6px 20px;
}
ul.leftmenu ul li {
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #d2d2d2;
  width: 179px;
}
/*ul.leftmenu ul li:hover {
  border-bottom: 0px solid #d2d2d2;
}*/
ul.leftmenu ul li a {
  font-size: 12px;
  color: #47190a;
  padding: 3px 9px 5px 10px;
  width: 160px;
  border-bottom: 0px solid #d2d2d2;
}
ul.leftmenu ul li.sel a,
ul.leftmenu ul li a:hover {
  color: #000000;
  background-color: #e3e3e3;
  padding: 3px 9px 5px 10px;
}
/* level 3 */
ul.leftmenu ul ul {
  padding: 0px 0px 0px 0px;
}
ul.leftmenu ul ul li {
  padding: 0px 0px 0px 0px;
  border-bottom: 0px solid #d2d2d2;
}
ul.leftmenu ul ul li a {
  font-size: 12px;
  color: #606060;
  padding: 3px 9px 5px 25px;
  width: 145px;
  border-bottom: 0px solid #d2d2d2;
}
ul.leftmenu ul ul li.sel a,
ul.leftmenu ul ul li a:hover {
  color: #101010;
  background-color: #e3e3e3;
  padding: 3px 9px 5px 25px;
}



/* status */
.status {
  padding: 9px 0px 24px 0px;
  font-weight: bold;
  color: #212121;
  height: 18px;
  line-height: 18px;
}
.status a {
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  color: #47190a;
}
.status_home img {
  background: url(/images/ico/home.gif) no-repeat 0px 3px;
  height: 15px;
  width: 11px;
  display: inline;
  border-bottom: 1px solid #47190a;
}
.status_home:hover img {
  border-bottom: 0px solid #47190a;
}
.status_hr img {
  background: url(/images/hr3.gif) no-repeat 10px 7px;
  height: 18px;
  line-height: 18px;
  width: 24px;
}

/* Forms */
.error_box {
  background: #ffca04 url(/images/ico/warning.gif) no-repeat 10px 8px;
  border: 1px solid #606060;
  margin: 0px 0px 10px 0px;
  padding: 6px 9px 7px 34px;
  width: 368px;
}
.input_box {
  padding: 0px 0px 10px 0px;
  clear: both;
  height: 32px;
}
.input_label {
  padding: 8px 4px 7px 0px;
  height: 19px;
  width: 152px;
  float: left;
  white-space: nowrap;
}
.input_ubox {
  padding: 0px 0px 10px 156px;
  clear: both;
}
.form_input {
  background: url(/images/form/input.gif) no-repeat 0px 0px;
  padding: 6px 4px 7px 4px;
  height: 19px;
  width: 249px;
}
.form_select {
  width: 234px;
}
.form_but {
  background: #515151 url(/images/form/but.gif) repeat-x 0px 0px;
  border: 1px solid #323232;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 16px 5px 16px;
  cursor: pointer;
}
*+html .form_but {
  overflow: visible;
  line-height: 15px;
  border: 1px solid #323232;
  /* ie7 */
}
/* Dealers List */
ul.dealer_list {
  list-style: none;
  width: 721px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
ul.dealer_list li {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  float: left;
  width: 360px;
}
.dealer_inf {
  padding: 0px 19px 0px 0px;
  margin-bottom: 8px;
}
.dealer_inf td {
  line-height: 20px;
  padding: 0px 19px 0px 0px;
}
.dealer_hr {
  background: url(/images/hr4.gif) no-repeat 50% 9px;
  padding: 9px 0px 10px 0px;
  height: 1px;
  width: 720px;
  clear: both;
}

/* Dealers Item */
.dealer_item {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  clear: both;
}
.dealer_item_l {
  padding: 4px 0px 0px 0px;
  float: left;
  width: 170px;
}
.dealer_item_r {
  padding: 0px 0px 0px 170px;
  width: 550px;
}
*+html .dealer_item_r {
  padding-left: 0px !important;
  /* ie7 */
}

/* ProdCategories */
.prod_cat_tizer {
  background: url(/images/pic/pic2.jpg) no-repeat 0px 0px;
  height: 229px;
  width: 720px;
}
.prod_cat_box {
  background: url(/images/hr5.png) no-repeat 0px 0px;
  display: table-cell;
  width: 720px;
}
ul.prod_cat_grid {
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 0px 0px;
  list-style: none;
}
ul.prod_cat_grid li {
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  float: left;
  height: 60px;
  width: 180px;
}
ul.prod_cat_grid li img {
  margin: 0px 9px 0px 0px;
  float: left;
}
ul.prod_cat_grid li h3 {
  display: table-cell;
  height: 60px;
  line-height: 60px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
}
ul.prod_cat_grid li h3 a {
  text-decoration: none;
  line-height: 18px;
}
*+html ul.prod_cat_grid li h3 {
  display: table-cell;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  /* ie7 */
}
*+html ul.prod_cat_grid li h3 a {
  float: none;
  /* ie7 */
}




/* Bottom */
.botmenu {
  background: #e3e3e3;
  font-size: 10px;
  height: 169px;
  border-top: 1px solid #ebeae7;
}
.botmenu_box {
  padding: 15px 0px 10px 48px;
}


.botmenu ul {
  float: left;
  list-style: none;
  width: 155px;
}
.botmenu ul li {
  padding: 0px 0px 1px 0px;
  /*white-space: nowrap;*/
}
.botmenu h2 a,
.botmenu h2 {
  font-size: 12px;
  font-weight: normal;
  color: #606060;
}
.botmenu h2 {
  padding: 0px 0px 3px 0px;
}
.botmenu a {
  color: #9d9d9d;
  text-decoration: none;
  white-space: nowrap;
}
.botmenu a:hover {
 color: #545454;
}

.copy {
  font-size: 10px;
  letter-spacing: 1px;
  color: #9d9d9d;
  text-align: center;
  height: 39px;
  clear: both;
}
.copy a {
  color: #9d9d9d;
}
.copy .centered {
  padding: 7px 0px 0px 0px;
}


h1 {
    font-size: 22px;
	font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    line-height: normal;
    padding: 0px 0px 11px 0px;
}
h2 {
    font-size: 16px;
	font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    line-height: normal;
    padding: 0px 0px 5px 0px;
    float: none;
    clear: both;
}
h3 {
    font-size: 14px;
	font-family: Trebuchet MS, "Helvetica CY", "Nimbus Sans L", sans-serif;
    line-height: normal;
    padding: 0px 0px 4px 0px;
}
p {
	margin: 0;
	padding: 0px 0px 16px 0px;
}
ul {

}


a {
  color: #47190a;
  outline: none;
}
a:hover {
  text-decoration: none;
}

.checkbox3 {
    background-image: url('/images/lb-front/form/check.png');
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    cursor: pointer
}

.checkbox3.f0 {
    background-position: 0px 0px;
}

.checkbox3.f1 {
    background-position: -21px 0px;
}

.checkbox3.f2 {
    background-position: -42px 0px;
}
