<?xml version="1.0" encoding="UTF-8"?>
<PageflipDataSet>
    <Settings
            CopyrightMessage="CCB76405304AF1761DCA5DCEAFD2E7562CADC7940FD8DC9C20B0F40A884ECC7CB0C427833F7573ECED8A631EA752EB99A550CB949858EC7CB0C6440A88387C80E34FFB313FA8C706154A6FDE9ED2E42B81C7EAE6AC37B485C5924700D923C37EDA61C3EE7EA2C09C7FBC4A80A5C63D30C01E763F72C5834833721EA3E722BEB71E61E5E2BE91C818C8508795FDD9311D319C67946832D65628624A95DBD8101C3251971398398C70F0B65CE46722D5462DBC0CB84FE5CC5DA1B7F9D6A9073C37388E7A0E954AC21D1F50BABFBDA3DB3D8FAA3B8F97F84C85C55E50842A33B11A0B4DFAEE7DA3C706154A6FDE9ED2E42B818C77616A554F48332D30A24E04FFE9FA4D0BC0BBFAA949D88727B630A34/3062/2874"
            PageWidth="450"
            PageHeight="400"
            AutoSize="false"
            ViewAngle="0"
            StartPage="1"
            AlwaysOpened="true"
            ZeroPage="false"
            ZeroPageAlwaysVisible="false"
            RightToLeft="false"
            VerticalMode="false"
            HardCover="false"
            HardPage="false"
            EmbossedPages="true"
            LargeCover="false"
            LargeCoverVerticalOversize="32"
            LargeCoverHorizontalOversize="16"
            DropShadow="true"
            DropShadowSize="20"
            DropShadowOffset="10"
            DropShadowAlpha="30"
            PageLoaderBackColor="0x333333"
            PageScale="true"
            MinScale="100"
            MaxScale="200"
            MinStageWidth="700"
            MinStageHeight="620"
            TransparentBackground="false"
            BackgroundColor="0x2A2A2A"
            FPSControlEnabled="true"
            MaxFPS="60"
            ControlBar="true"
            ControlBarScale="100"
            ControlBarFullScreenScale="150"
            xControlBarBackgroundColor="0x555555"
            xControlBarBackgroundAlpha="50"
            CustomControlBarIcons="false"
            EnableButtonColoring="true"
            ButtonColor="0x666666"
            ButtonAlpha="100"
            ButtonOverColor="0xF0B400"
            ButtonOverAlpha="100"
            ButtonPressColor="0x666666"
            ButtonPressAlpha="50"
            ButtonDisabledColor="0x666666"
            ButtonDisabledAlpha="15"
            ButtonToolTip="false"
            ControlBarLoaderEnabled="true"
            ButtonFirstLastEnabled="true"
            ButtonLeftRightEnabled="true"
            ButtonZoomEnabled="true"
            ButtonPrintEnabled="false"
            ButtonAutoFlipEnabled="false"
            ButtonPDFLinkEnabled="false"
            ButtonLanguageEnabled="false"
            ButtonThumbnailEnabled="true"
            ButtonMuteEnabled="false"
            ButtonInfoEnabled="false"
            ButtonIndexEnabled="false"
            ButtonFullScreenEnabled="false"
            ButtonCloseEnabled="false"
            ContentPreviewEnabled="true"
            ThumbnailsEnabled="true"
            ThumbnailModeStart="false"
            ThumbnailWidth="90"
            ThumbnailHeight="120"
            ThumbnailDropShadow="true"
            ThumbnailDropShadowSize="8"
            ThumbnailDropShadowOffset="2"
            ThumbnailDropShadowAlpha="30"
            StartAutoFlip="false"
            AutoFlipDefaultInterval="2000"
            AutoFlipLooping="true"
            TransparencyEnabled="true"
            TransparencyActivePage="false"
            TransparencyAutoLevel="true"
            TransparencyMaxLevel="16"
            DragArea="100"
            AutoFlipArea="100"
            MousePursuitSpeed="8"
            ZoomFollowSpeed="10"
            FlippingDuration="800"
            PageCache="5"
            UnloadPages="true"
            MouseControl="true"
            DefaultTransition="1"
            DefaultTransitionDuration="250"
            FlippingSpreadActivity="true"
            LayoutOrder="PREVIEW-CONTENT-CONTROLBAR"
            ControlBarHeight="55"
            ControlBarOffset="15"
            ContentPreviewHeight="90"
            ContentPreviewWidth="130"
            SoundEnabled="false">
    </Settings>
    <PageOrder>
        #foreach($onePage in $pages)
        <PageData
                PageFile="${onePage.bigURL}"
                ThumbnailFile="${onePage.mediumURL}"
                ZoomFiles="${onePage.big1URL}[200%]${onePage.big2URL}[400%]"/>
        #end
    </PageOrder>
</PageflipDataSet>